
<div class="body">
  <h1>{{title}}</h1>
  <input [hidden]="loginSuccess" type="text" placeholder="username" [(ngModel)]="usr"><br>
  <input [hidden]="loginSuccess" type="password" placeholder="password" [(ngModel)]="psw"><br>

  <button [hidden]="loginSuccess" (click)="login(null, false)">Login</button>
  <button [hidden]="loginSuccess" (click)="register()">Registrati</button>

  <div *ngIf="loginSuccess">
    <p>Login effettuato con successo!<br>Benvenuto <b>{{usr}}</b>!</p>
    <button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="loginError">
    <p class="error">Username o password errati</p>
  </div>

</div>


